

<h1>Edit Task</h1>

<ol class="breadcrumb">
  <li><a href="/tasks">Tasks</a>
  <li><class="active">New Task</li>
</ol>



<div class="checkbox">
  <label>
    <input type="checkbox"> Complete
  </label>
</div>



<%= render 'form' %>
