

<div class="alert alert-success" role="alert">
  <center><%= notice %></center>
</div>


<div class="pull-right">
  <%= link_to 'Edit', edit_task_path, class: 'btn btn-info' %>
</div>

<p>
  <h1><strong><%= @task.description %></strong></h1>
</p>

<hr>

  <ol class="breadcrumb">
    <li><a href="/tasks">Tasks</a>
    <li><class="active"> <%= @task.description %>
    </li>
  </ol>

<br>
<br>
<br>
<br>
