



<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_task_path, class: 'btn btn-info' %>
  </div>
  <h1><strong><%= @task.description %></strong></h1>
</div>


<ol class="breadcrumb">
  <li><a href="/tasks">Tasks</a>
  <li><class="active"> <%= @task.description %>
  </li>
</ol>

<b>Due on:</b>
  <%= @task.due_date.to_s.gsub("-","/") %>


<br>
<br>
<br>
<br>
<hr>
