<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.fullname, user %></td>
        <td>
          <% if @teammates.include?(user) || user == current_user %>
            <%= mail_to "#{user.email}" %>
          <% end %>
        </td>
        <td class="text-right">
          <% if user == current_user %>
                <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-info' %>
                <%= link_to 'Delete', user, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
