<div class= "page-header">
  <div class="pull-right">
    <%= link_to 'New user', new_user_path, class: 'btn btn-info' %>
  </div>
  <h1>Users</h1>
</div>

<!-- admins see edit/delete options and emails for all users, users only see emails of themselves and fellow project members -->
<% if current_user.admin %>
  <%= render 'admin_table' %>
<% else %>
  <%= render 'user_table' %>
<% end %>
