<% if object.errors.any? %>
<div class= "form-group">
  <div class= "col-md-offset-2 col-md-6">
    <div id="error_explanation">
      <div class= "alert alert-danger">
        <strong>
          <%= pluralize(object.errors.count, "error") %> prohibited this task from being saved:
        </strong>
        <br>
        <br>
        <ul>
          <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
