<html>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Look!</h2>
      <p>Behold the duck/horse hybrid.</p>
      <p><a class="btn btn-default" href="#" role="button">CLICK HERE NOW &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Column II</h2>
      <p>Galloping/waddling animal.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Column III</h2>
      <p>Getting his exercise.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>

<img src="http://2damnfunny.com/wp-content/uploads/2013/04/Duck-Horse-Hybrid-Getting-Some-Excercise.jpg" />

</html>



<%= image_tag('http://2damnfunny.com/wp-content/uploads/2013/04/Duck-Horse-Hybrid-Getting-Some-Excercise.jpg') %>
