<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tasks</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %> </td>
        <td><%= link_to project.tasks.count, project_tasks_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
