<div class= "page-header">
  <h1>About</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'about.jpg', class: "img-responsive" %>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="col-md-8">
    <p>We are dedicated to the makers, the creators, the risk-takers.</p>
    <p>We wake up in the middle of the night and furiously write down
      ideas about how to make your online life better.</p>
    <p>Human collaboration and communication is what drives us, and it
      infuses every feature of Tasker.</p>
  </div>
</div>

<div class= "row">
  <h4>
    <p>Tasker is extremely active. Check out our killer stats below!</p>
    <p><%= "#{pluralize(@projects_num, 'Project')}, #{pluralize(@tasks_num, 'Task')}, #{pluralize(@memberships_num, 'Project Member')}, #{pluralize(@users_num, 'User')}, #{pluralize(@comments_num, 'Comment')}" %></p>
  </h4>
</div>
