 @import "bootstrap-sprockets";
 @import "bootstrap";

.alert-red {
  color: red;
}

footer {
  padding-bottom: 1em;
  width: 100%;
}

body {
  padding-top: 60px;
}

 .lead {
   font-size: 21px;
 }

 .img-footer {
   max-width: 2em;
   max-height: 2em;
   margin-right: .5em;
 }

 .panel-body {
   padding: 15px;
 }

 hr {
   border-top-color: black;
 }
